.admin-login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #d9c3a1, #cbb38f);
  font-family: "Segoe UI", sans-serif;
}

.admin-login-box {
  width: 420px;
  padding: 40px;
  border-radius: 20px;
  background: #f4f1ec;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.admin-login-box h2 {
  margin-bottom: 30px;
  color: #6b2f1a;
  font-size: 28px;
  font-weight: 600;
}

/* SAME WIDTH FOR ALL INPUTS */
.admin-input,
.password-field input {
  width: 100%;
  height: 52px;
  margin-bottom: 20px;
  padding: 0 18px;
  border-radius: 14px;
  border: 1.5px solid #cfcfcf;
  background: #cfd6e0;
  font-size: 16px;
  outline: none;
  box-sizing: border-box; /* IMPORTANT */
}

/* Remove weird extra size issue */
.password-field {
  position: relative;
  width: 100%;
}

.password-field input {
  padding-right: 50px;
}

/* Eye icon */
.toggle-pass {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

/* Login button */
.login-btn {
  width: 100%;
  height: 55px;
  background: #7a2d1c;
  color: white;
  border: none;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 5px;
}

.login-btn:hover {
  background: #5e2115;
}

/* BACK BUTTON PROPER */
.admin-sidebar {
  margin-top: 18px;
  width: 100%;
}

.back-btn {
  width: 100%;
  height: 38px;
 
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-btn:hover {
  background: #5e2115;
}
